<nav class="mb-3" *ngIf="isLoggedIn">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center b mb-md-0">
        <li><a routerLink="home" class="nav-link" routerLinkActive="active">HOME</a></li>
        <li  *ngIf="roles=='Admin' || roles=='writer'"><a routerLink="article" class="nav-link" routerLinkActive="active">ARTICLES</a></li>
        <li  *ngIf="roles=='Admin'"><a routerLink="category" class="nav-link" routerLinkActive="active">CATEGORIES</a></li>
        <!-- <li><a routerLink="view" class="nav-link" routerLinkActive="active">Test Home</a></li> -->
    </ul>
</nav>