<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <h1 class="blog-header-logo">Debugged Articles</h1>
        </ul>

        <div class="col-md-3 text-end">
            <!-- Show Login and Sign-up when the user is not logged in -->
            <a [routerLink]="['/login']" [hidden]="!isLoggedIn" class="btn btn-outline-primary me-2">Login</a>
            <a [routerLink]="['/signup']" [hidden]="!isLoggedIn" class="btn btn-outline-primary me-2">Sign-up</a>
        
            <!-- Show Logout when the user is logged in -->
            <a (click)="logout()" [hidden]="isLoggedIn" class="btn btn-outline-primary me-2" style="cursor:pointer">Logout</a>
        </div>
    </header>
   
</div>