<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-2 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <h1 class="blog-header-logo">Debugged Articles</h1>
        </ul>

        <div class="col-md-3 text-end">
            <!-- <button type="button" class="btn btn-outline-primary me-2" routerLink="error 404">Login</button> -->
            <a [routerLink]="['/login']" class="btn btn-outline-primary me-2">Login</a>

            <!-- <button type="button" class="btn btn-primary">Sign-up</button> -->
            <a [routerLink]="['/signup']" class="btn btn-outline-primary me-2">Sign-up</a>
        </div>
    </header>
    <app-navbar></app-navbar>
</div>