<h1 class="mt-3">Article List</h1>

<div class="d-flex justify-content-end mt-3">
  <a [routerLink]="['/add/article']" class="btn btn-primary">Add Article</a>
</div>


<ng-container *ngIf="articles$ | async as articles;else notFound">
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Short Description</th>
        <th>Is Visible?</th>
        <th>Categories</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td>{{article.title}}</td>
        <td>{{article.shortDescription}}</td>
        <td>{{article.isVisible}}</td>
        <td>
          <span *ngFor="let category of article.categories">
            <span class="badge bg-secondary me-2">{{category.name}}</span>
          </span>
        </td>
        <td>
          <a class="btn btn-light" [routerLink]="['/update/article', article.id]">Update</a>
        </td>
      </tr>
    </tbody>
  </table>


</ng-container>

<ng-template #notFound>
  <div class="alert alert-warning mt-3" role="alert">
    Article not found!
  </div>
</ng-template>