
<div class="d-flex align-items-center justify-content-center mt-5">
	<div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
		<form [formGroup]="frm" (ngSubmit)="onPost()">
			<h1 class="h3 mb-3 fw-normal text-center">Please sign up</h1>
	
			<div class="form-floating mb-3">
				<input type="text" class="form-control"  name="name" formControlName="name" placeholder="Name">
				<label for="name">Name</label>
        <div class="msg error" *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)">
          <span *ngIf="f['name'].errors?.['required']">
              Name is required  
        </span>
      </div>
			</div>
    
			<div class="form-floating mb-3">
				<input type="email" class="form-control"  name="email" formControlName="email" placeholder="email@example.com">
				<label for="email">Email</label>
        <div class="msg error" *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
          <span *ngIf="f['email'].errors?.['required']">
              Email is required  
        </span>
      </div>
			</div>
			<div class="form-floating mb-3">
				<input type="text" class="form-control"  name="username"  formControlName="username"placeholder="Username">
				<label for="username">Username</label>
        <div class="msg error" *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)">
          <span *ngIf="f['username'].errors?.['required']">
              Username is required  
        </span>
      </div>
			</div>
			<div class="form-floating mb-3">
				<input type="password" class="form-control"  name="password" formControlName="password" placeholder="Password (Format: Abc@1r)">
				<label for="password">Password</label>
        <div class="msg error" *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
          <span *ngIf="f['password'].errors?.['required']">
              Password is required  
        </span>
        <span *ngIf="f['password'].errors?.['invalidPattern']">
          Atleast 6 character long,must contain 1 uppercase, 1 lowercase, 1 digit and 1 special character
      </span>
      </div>
			</div>
			<div class="form-floating mb-3">
				<input type="password" class="form-control"  name="confirm password"  formControlName="confirmPassword" placeholder="Confirm Password">
				<label for="confirmPassword">Confirm Password</label>
        <div class="msg error" *ngIf="f['confirmPassword'].invalid && (f['confirmPassword'].dirty || f['confirmPassword'].touched)">
          <span *ngIf="f['confirmPassword'].errors?.['required']">
              ConfirmPassword is required  
        </span>
        <span *ngIf="f['confirmPassword'].errors?.['mustMatch']">
          Password and confirm password should be matched  
      </span>
         </div>
			</div>						
			<button class="btn btn-primary w-100 py-2" type="submit" [disabled]="frm.invalid">Sign up</button>

			<p><a routerLink="/login" class="link">Already a writer? Login here</a></p>
		</form>
	</div>
</div>
